## Group: {{ room.name }}:
|written by|date|message|is thread|
|---|---|---|---|---|
{% for m in messages %}
{% if m is iterable and m %}
{% include "rocket/dto/thread.j2" with context %}
{% else %}
|{{ m.username }}|{{ m.timestamp }}|{{ m.message | replace("\n", " ") }}|n|
{% endif %}
{% endfor %}
