# Document
{{ confluence_page }}

# Task
Summarize the information from the document above that is relevant to the question "{{ user_question }}".
The current date and time is {{ now }}.
Make sure to keep you summary as concise as possible, stay under a word limit of 100 and keep the language of the original document.
If there is no useful information related to the question, return an empty string.